.nav {
  padding: 20px 10px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(160, 155, 155, 0.2);
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list_item:not(:last-child) {
  margin-right: 30px;
}
.link {
  color: rgb(66, 169, 238);
}
.active_link {
  color: red;
}
.auth__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth__item {
  margin-left: 20px;
}
.welcome__user {
  color: rgb(66, 169, 238);
}
.userName {
  color: orangered;
  text-transform: uppercase;
  margin-left: 10px;
}
.user__button {
  margin-left: 10px;
  background-color: orangered;
  padding: 5px 10px;
  border-radius: 10px;
  border-color: transparent;
}
